/* navigation */
section#navigation {
  margin-top: 1rem;
}

/* flash messages */
section#messages  {
  font-size: 105%;
  font-weight: 500;
}
section#messages .info  {
  color: #222;
}
section#messages .error  {
  color: #f00;
}

/* post filter */
section#post-filter {
  margin-bottom: 1.5rem;
  padding: .7rem 0;
  background-color: #e1e1e1;
}
section#post-filter img {
  float: right;
  vertical-align: middle;
  margin-right: .5rem;
}

/* posts */
section#content article {
  margin-bottom: 3rem;
}
section#content article header  {
  min-height: 1.6rem;
}
section#content .post-content {
  color: #000;
  font-size: 102%;
  text-align: justify;
  margin-bottom: 2rem;
}
section#content .post-content * {
  max-width: 100% !important;
}
section#content article footer  {
  font-size: 92%;
}

/* search */
section#search-mask h5  {
  margin-bottom: .4rem;
}
section#search-mask input[type='submit'] {
  margin-top: 1.5rem;
}

/* load-dynamic */
section#load-dynamic {
  display: none;
}
section#load-dynamic span {
  display: none;
}
span#load-more-error  {
  color: #f00;
}
span#loading-indicator img  {
  vertical-align: top;
}

/* footer */
section#site-footer {
  font-size: 90%;
}

/* forms */
.checkbox-with-label  {
  margin-bottom: 1.5rem;
}
.checkbox-with-label input  {
  margin-bottom: 0;
  vertical-align: middle;
}
.checkbox-with-label label  {
  display: inline;
  vertical-align: middle;
}
textarea + span.wtforms-error {
  vertical-align: top;
}
.wtforms-error  {
  color: #f00;
}
