*  {
  /*margin: 0;*/
}
html, body  {
  height: 100%;
  font-family: "calluna-sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
a  {
  color: #AD141E
}
a:active  {
  color: #950A0A;
}
hr  {
  border-width: 1px;
  border-style: thin;
  border-color: black;
}
div#container  {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  /*border: thin dashed black;*/
}
section#navigation  {
}
section#messages  {
  text-align: center;
}
section#messages .info  {
  color: rgb(100, 100, 110);
}
section#messages .error  {
  color: rgb(255, 0, 0);
}
section#content  {
  padding-bottom: 2em;
}
section#content article  {
}
section#content article header  {
}
section#content article header h4  {
  margin-bottom: .5em;
}
section#content .post-content  {
/*  color: rgba(142, 146, 166, 0.96);*/
  color: rgb(100, 100, 110);
}
section#content .post-content p  {
  margin-top: 0em;
}
section#content article footer  {
  font-size: .90em;
}
section#content .admin-links  {
}
section#content #page-links  {
  text-align: center;
}
section#site-footer  {
/*
  position: absolute;
  bottom: 0;
*/
  text-align: center;
}
