<!DOCTYPE html>
<html>
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf_token" value="{{ csrf_token() }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='blackboard.css') }}">

{% block scripts %}
{% endblock scripts %}

{% block title %}
  <title>Blackboard Light</title>
{% endblock title %}
{% endblock head %}
</head>
<body>
<div class="container">

{# navigation block #}
{% block navigation %}
  <section id="navigation">
      <a href="{{ url_for('.index') }}">Home</a> |
      <a href="#">Search</a> |
      {% if current_user.is_anonymous() %}
      <a href="{{ url_for('.login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('.new_post') }}">New post</a> |
      logged in as <i>{{ current_user.name }}</i>
      (<a href="{{ url_for('.logout', csrfToken=csrf_token()) }}">Logout</a>)
      {% endif %}
      <hr>
  </section>  <!-- end block navigation -->
{% endblock navigation %}

{# message flashing #}
{% block flash_messages %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  <section id="messages">
{% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
{% endfor %}
    <hr>
  </section>  <!-- end block messages -->
{% endif %}
{% endwith %}
{% endblock  flash_messages %}

{#- content block #}
{% block content %}
{% endblock content %}

{# site footer #}
  <section id="site-footer">
    site footer
  </section>

</div>  <!-- end block container -->
</body>
</html>
