{% extends "base.html" %}

{% block scripts %}
  <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='blackboard.js') }}"></script>
  <script>
    var postFilter = {{ query_args |tojson|safe }};
    var nextPage = {{ next_page }};
    $(document).ready(initPage);
  </script>
{% endblock scripts %}

{% block title %}
  <title>Page {{ current_page }} - Blackboard Light</title>
{% endblock %}

{% block post_filter %}
{% if query_args %}
  <section id="post-filter">
    <a href="{{ url_for('.index') }}">
      <img src="{{ url_for('static', filename='close.png') }}" class="u-pull-right">
    </a>
    Post-Filter: {{ query_args | queryprint }}
  </section>
{% endif %}
{% endblock post_filter %}

{% block content %}
  <section id="content">
  {% if post_list %}
    {% for post in post_list %}
      {% include "post.html" %}

    {% endfor %}
    <hr>
  {% endif %}
  </section>  <!-- end block content -->

  <section id="page-links">
    {% if prev_page %}
    <a href="{{ url_for('.index', page=prev_page, **query_args) }}">&larr; previous page</a>
    {% endif %}
    {% if prev_page and next_page %}|{% endif %}
    {% if next_page %}
    <a href="{{ url_for('.index', page=next_page, **query_args) }}">next page &rarr;</a>
    {% endif %}
    <hr>
  </section>

  <section id="load-dynamic">
    <span id="load-more-link"><a href="#">Load more posts</a></span>
    <span id="no-more-posts">There are no more posts. <a href="#">Top &uarr;</a></span>
    <span id="load-more-error"><span></span> <a href='#'>Try again</a></span>
    <span id="loading-indicator">
      <img src="{{ url_for('static', filename='spin.svg') }}">
      Loading more posts&hellip;
    </span>
    <hr>
  </section>
{% endblock  content %}
