{% extends "base.html" %}

{% block title %}
  <title>Page {{ current_page }} - Blackboard Light</title>
{% endblock %}

{% block content %}
  <section id="content">
  {% if post_list %}
    {% for post in post_list %}
      {% include "post.html" %}

    {% endfor %}
    <hr>
  </section>  <!-- end block content -->

  <section id="page-links">
    {% if prev_page %}
    <a href="{{ url_for('.index', page=prev_page, **query_args) }}">&larr; previous page</a>
    {% endif %}
    {% if prev_page and next_page %}|{% endif %}
    {% if next_page %}
    <a href="{{ url_for('.index', page=next_page, **query_args) }}">next page &rarr;</a>
    {% endif %}
    <hr>
  </section> 
  {% endif %}
{% endblock  content %}
