{% extends "base.html" %}

{% block title %}
  <title>New Post</title>
{% endblock %}

{% block content %}
  <section id="new-post">
    <h4>New Post</h4>
    <form method="POST" action="{{ url_for('.new_post') }}">
      {{ post_form.hidden_tag() }}

      {{ post_form.title.label }}
      {% if post_form.title.errors %}({{ post_form.title.errors[0] }}){% endif %}
      {{ post_form.title }}

      {{ post_form.content.label }}
      {% if post_form.content.errors %}({{ post_form.content.errors[0]}}){% endif %}
      {{ post_form.content }}

      {{ post_form.tags.label }}
      {% if post_form.tags.errors %}({{ post_form.tags.errors[0] }}){% endif %}
      {{ post_form.tags }}

      <div class="checkbox-with-label">
       {{ post_form.is_public }} {{ post_form.is_public.label }}
      </div>
      {{ post_form.submit }}
    </form>
  </section> <!-- end block new-post -->
{% endblock %}

